-e git://github.com/xudd/xudd.git@dcb4fae88c9cbca065cafa004e5dffec70ca43c6#egg=XUDD-dev
distribute==0.6.34
-e git://github.com/hylang/hy.git@7a403a2660e477196986c4d8c8cfc27330eb6f13#egg=hy-dev
pyinotify==0.9.4
requests==1.2.3
rply==0.6.1
